<div class="pt-5" style="margin-top: 4rem">
  <!-- Button trigger modal -->
  <div class="text-right">
    <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#exampleModal">
      Insert Product
    </button>
  </div>

  <!-- Hello {{loggedinuser.name}} -->
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Insert Product</h5>
          <button type="button" #closebutton class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="insertData()" #myForm="ngForm">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="name" name="name" class="form-control" placeholder="Enter name" [(ngModel)]="product.name" />
            </div>
            <div class="form-group">
              <label for="slug">slug</label>
              <input type="slug" name="slug" class="form-control" placeholder="Enter slug" [(ngModel)]="product.slug" />
            </div>
            <div class="form-group">
              <label for="description">description</label>
              <input type="description" name="description" class="form-control" placeholder="Enter description"
                [(ngModel)]="product.description" />
            </div>
            <div class="form-group">
              <label for="price">price</label>
              <input type="price" name="price" class="form-control" placeholder="Enter price" [(ngModel)]="product.price" />
            </div>
            <button type="submit" class="btn btn-primary" >Submit</button>
          </form>
        </div>

      </div>
    </div>
  </div>

  <!-- <form (ngSubmit)="insertData()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="name" name="name" class="form-control" placeholder="Enter name" [(ngModel)]="product.name" />
    </div>
    <div class="form-group">
      <label for="slug">slug</label>
      <input type="slug" name="slug" class="form-control" placeholder="Enter slug" [(ngModel)]="product.slug" />
    </div>
    <div class="form-group">
      <label for="description">description</label>
      <input type="description" name="description" class="form-control" placeholder="Enter description"
        [(ngModel)]="product.description" />
    </div>
    <div class="form-group">
      <label for="price">price</label>
      <input type="price" name="price" class="form-control" placeholder="Enter price" [(ngModel)]="product.price" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form> -->

  <table class="table table-striped mt-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">slug</th>
        <th scope="col">description</th>
        <th scope="col">Price</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ product.name }}</td>
        <td>{{ product.slug }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}</td>
        <td><button class="btn btn-success"  routerLink="edit/{{product.id}}">Update</button></td>
        <td >
          <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
          <!-- Modal -->
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteModalLabel">Delete Product</h5>
                  <button type="button" #closebutton1 class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body text-center">
                    Are you sure ?
                    <br>
                    <div class="col-10 m-auto py-3" style="justify-content: space-around;display: flex;">
                      <button type="submit" class="btn btn-warning mt-3 col-5" #closebutton1 data-dismiss="modal" aria-label="Close">No</button>
                      <button type="submit" class="btn btn-danger mt-3 col-5" (click)="deleteProduct(product.id)">Yes</button>
                    </div>
                </div>

              </div>
            </div>
            </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>


